<div class="container">
  <div class="user-details">
    <h3> 关于恒星网络 </h3>
    <p> @ 星际移民中心 </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>目标</h4>
      <i><img src="/assets/icons/space/43-astronaut and flag.svg" class="stack-icon-svg"></i>
      <i><img src="/assets/icons/space/14-galaxy.svg" class="stack-icon-svg"></i>
      <p>创建恒星际文明的框架</p>
    </div>
    <div class="four columns">
      <h4>技术</h4>
      <i><img src="/assets/icons/space/42-radar.svg" class="stack-icon-svg"></i>
      <i><img src="/assets/icons/space/10-death star.svg" class="stack-icon-svg"></i>
      <p>结合计算，可视化，以及文档风格的背景设定</p>
    </div>
    <div class="four columns">
      <h4>支持</h4>
      <i><img src="/assets/icons/space/15-footprints on the moon.svg" class="stack-icon-svg"></i>
      <i><img src="/assets/icons/space/4-mars.svg" class="stack-icon-svg"></i>
      <p>星际移民中心</p>
    </div>
  </div>
</div>
